.greyboxlight {
  background-color: #f7f8f6;
  /* padding-top: 96px; */
}
.event-container-section {
  background-color: #f7f8f6;
}
.event-container {
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 124px;
}
.event-details-container {
  padding-bottom: 110px;
  padding-top: 110px;
}
.list-two-col-icon li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

#venueWrapper {
  padding-top: 30px;
}

.event-venue-box {
  background: #fff;
}

.event-venue-box:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgb(131 134 163 / 32%) !important;
     -moz-box-shadow: 0 4px 6px 0 rgb(131 134 163 / 32%) !important;
          box-shadow: 0 4px 6px 0 rgb(131 134 163 / 32%) !important;
  margin-bottom: 0px !important;
}

.venue-img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 372px;
  width: 100%;
}

.event-3-head {
  padding-bottom: 30px;
  color: #25282d;
  font-family: FreightSansProMedium;
}

.blackfullbtn {
  /* display: none; */
  padding: 15px 30px;
}

.event-venue-box:hover .blackfullbtn {
  display: inline-block;
}

.events-container .btn.whitefullbtn {
  width: auto;
  line-height: initial;
}
/*Media Queries*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .events-container .common-card .btn-panel {
    visibility: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
  }
  .events-container .common-card-shadow.residence-list-item .btn-panel .btn {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .common-card-shadow.residence-list-item .btn-panel .btn {
    width: 100%;
  }
  .common-card .carousel-item img {
    height: 375px;
  }
  .events-container-section
    .common-card-shadow.residence-list-item
    .common-card-col-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .event-3-head {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 25px;
  }

  .blackfullbtn {
    display: inline-block;
    padding: 15px 30px;
  }
  .events-container-section,
  .events-container {
    padding: 0;
  }
  .events-container-section h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px !important;
  }
  .events-container .btn.whitefullbtn,
  .events-container .btn.blackfullbtn {
    width: 100%;
  }
  .events-container .common-card-col-2 {
    padding-left: 0 !important;
    padding: 0 8px !important;
  }
  .events-container .residence-list-item{
        padding-bottom: 0;
  }
}
.eventDetailSection a{
  color: black;
}