/* .black-btn {
  width: 220px;
  padding: 12px;
  position: relative;
  margin-top: 15px;
} */

.individual-homepage-hotel-highlights-section .img-shadow {
  -webkit-box-shadow: 0px 60px 70px -50px rgba(37, 40, 45, 0.5);
  -moz-box-shadow: 0px 60px 70px -50px rgba(37, 40, 45, 0.5);
  box-shadow: 0px 60px 70px -50px rgba(37, 40, 45, 0.5);
}

.individual-homepage-hotel-highlights-section {
 /*  padding-top: 110px; */
  /* padding-bottom: 110px; */
}

.individual-homepage-hotel-highlights-section .container {
  padding: 40px 90px;
}

.individual-homepage-hotel-highlights-section ol.flickity-page-dots {
  display: none;
}

button.flickity-button.flickity-prev-next-button.previous {
  visibility: hidden;
}

button.flickity-button.flickity-prev-next-button.next {
  visibility: hidden;
}

.individual-homepage-hotel-highlights-section.hotel-landing-top-attractions {
  padding-top: 25px;
  /* padding-bottom: 110px; */
}

.individual-homepage-hotel-highlights-section.hotel-landing-top-attractions .container {
  padding: 40px 90px 120px;
}

.individual-homepage-hotel-highlights-section .other-cities-container {
  padding: 40px 80px 60px;
}

.individual-homepage-hotel-highlights-section ol.flickity-page-dots {
  display: none;
}

.cta-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .individual-homepage-hotel-highlights-section .slider-img {
  padding-left: 80px;
} */

.slider-img-hotel-highlights {
  width: 380px;
  height: 520px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 120px;
}

#dine-carousel .flickity-slider > div:first-child {
  padding-left: 80px;
  width: 460px;
}

#dine-carousel .flickity-slider > div:last-child {
  padding-right: 80px;
  width: 460px;
}

#dine-carousel .slider-img-explore-accommodations:last-child {
  width: 904px;
  padding-right: 80px;
}

#dine-carousel .slider-img-explore-accommodations:first-child {
  padding-left: 80px;
  width: 904px;
}

#dine-carousel .flickity-slider > div .img-content,
#dine-carousel .flickity-slider > div .img-shadow,
#dine-carousel .flickity-slider > div .img-shadow img {
  height: 100%;
  width: 100%;
}

.individual-homepage-hotel-highlights-section .img-content:hover .overlap-content .overlap-text h3,
.individual-homepage-hotel-highlights-section .img-content:hover .overlap-content .overlap-text span {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 240px;
}

.individual-homepage-hotel-highlights-section .img-content:hover .overlap-content .overlap-text h3.hide-card-hover-effect,
.individual-homepage-hotel-highlights-section .img-content:hover .overlap-content .overlap-text span.hide-card-hover-effect {
  white-space: unset;
  overflow: unset;
  -o-text-overflow: unset;
  text-overflow: unset;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .individual-homepage-hotel-highlights-section .container,
  .individual-homepage-hotel-highlights-section.hotel-landing-top-attractions .container {
    padding: 40px 10px;
  }
  .individual-homepage-hotel-highlights-section .overlap-content .overlap-text h3,
  .individual-homepage-hotel-highlights-section .overlap-content .overlap-text span {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 220px;
  }
  .individual-homepage-hotel-highlights-section .overlap-content {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media (max-width: 600px) {
  #dine-carousel .flickity-slider > div:first-child {
    padding-left: 32px;
    width: 300px;
  }
  .individual-homepage-hotel-highlights-section .other-cities-container {
    padding: 40px 10px;
  }
  .slider-img-hotel-highlights {
    height: 420px;
    padding-bottom: 120px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #dine-carousel .flickity-slider > div:last-child {
    padding-right: 20px;
    width: 300px;
  }
  .individual-homepage-hotel-highlights-section .overlap-content {
    display: block;
    padding: 20px;
  }
  .individual-homepage-hotel-highlights-section .overlap-content .overlap-btn {
    margin-top: 10px;
  }
}
p.body-2 a {
  font-size: 22px;
  /* color: #25282d; */
  font-family: FreightSansProBook;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 34px;
}
