.wellness-pool-details {
  position: relative;
  margin-bottom: 250px;
}
.wellness-pool-img {
  padding: 40px;
}
.wellness-pool-img img {
  width: 100%;
}
.list-two-col {
  max-width: 650px;
  margin: 40px auto 0 auto;
  padding: 0;
}
.list-two-col li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.wellness-pool-content-box {
  background-color: #ffffff;
  position: absolute;
  bottom: -128px;
  left: 50%;
  padding: 40px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 991px) {
  .wellness-pool-details {
    padding: 0;
    margin-bottom: 40px;
  }
  .wellness-pool-content-box {
    position: relative;
    bottom: auto;
    padding: 36px 75px;
  }
  .wellness-pool-img {
    padding: 0;
  }
  .list-two-col {
    max-width: 100%;
  }
  .wellness-pool-img img {
    width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wellness-pool-content-box{
    max-width: 650px;
    bottom: -170px;
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  .wellness-pool-content-box {
    padding: 0 15px;
  }
  .wellness-pool-img img {
    width: 100%;
  }
}
