.card-data {
  height: 110px;
}
@media screen and (min-width: 1024px) {
  .card-data {
    bottom: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .card-data {
    height: 140px;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    max-width: 292px;
  }
  .card-image .img-fluid {
    height: 286px;
  }
  .card-data {
    height: 157px;
  }
  .card-data .card-overlay {
    margin-bottom: 20px;
  }
}
