.wellness-fitness-features-main {
    margin: auto;
    padding: 120px 0;
    text-align: center;
    /* max-width: 1200px; */
}

.wellness-fitness-features {
    /* text-align: left; */
    margin-top: 40px;
    width: 100%;
}

.wellness-fitness-features-box {
    /* flex-basis: auto !i   mportant; */
    width: 100%;
    /* padding-right: 80px; */
    /* display: inline-block; */
}

.wellness-fitness-features ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 120px;
    max-width: 870px;
    margin: auto;
    -webkit-align-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
}

:lang(ru) .wellness-fitness-features ul {
    max-height: 200px;
}

.wellness-fitness-features li {
    padding: 0 0 10px 25px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

@media screen and (max-width: 1200px) {
    .wellness-fitness-features ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        max-height: 350px;
        -webkit-align-content: start;
        -ms-flex-line-pack: start;
        align-content: start;
    }
     :lang(ru) .wellness-fitness-features ul {
        max-height: 250px;
    }
    .wellness-fitness-features li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

@media screen and (max-width:991px) {
    .wellness-fitness-features ul {
        max-height: 120px;
    }
    .wellness-fitness-features-box {
        padding: 0 10%;
        width: 100%;
    }
     :lang(ru) .wellness-fitness-features ul {
        max-height: 100%;
    }
}

@media screen and (max-width:600px) {
    .wellness-fitness-features ul {
        max-height: 100%;
    }
}