

 /*** Dynamically Generated CSS , Not for editing ***/


:root { 
  --color_1 : #000000;
  --color_2 : #000000;
  --color_3 : #000000;
  --color_4 : #000000;
  --color_5 : #02f276;
  --color_6 : #000000;
  --color_7 : #000000;
  --color_8 : #20a2f3;
  --color_9 : #000000;
  --color_10 : #000000;
  --color_11 : #000000;
}
