.residences-container-section{
    background-color: #f7f8f6;
}
.residences-container{
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 124px;
}

.residence-countbox{
    display: none;
}
.residence-countbox-inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.residences-details-container{
    padding-bottom: 110px;
    padding-top: 110px;
}
.common-card .btn-panel {
    width: 290px;
}



@media(max-width: 991px){
    .residences-container{
        padding-right: 0;
        padding-top: 30px;
        padding-left: 0;
        padding-bottom: 0;
    }
    .residences-container-section{
        padding: 0;
    }
    .common-card-col-2{
        padding-left:30px ;
        padding-top: 0;
    }
    .common-card ul{
        display: block;
    }
    .residences-container .residence-list-item .residences-card.common-card .btn-panel{
        width: 100%;
        padding: 10px;
    }
    .common-card .carousel-item img {
        min-height: 375px;
    }
}
@media(max-width: 600px){
    .common-card-col-2{
        padding-left: 0 !important;
        padding-top: 20px;
    }
}