.spa-features-container {
   padding: 0 40px;
   background-color: #F7F8F6;
   /* margin: 40px auto; */
}

.spa-features-inside{
   min-height: 240px;
   height: auto;
   padding: 40px;
   background-color: #fff;
}

.relax-and-opul-content ul{
   -webkit-box-pack: space-evenly;
   -webkit-justify-content: space-evenly;
      -moz-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
}