

 /*** Dynamically Generated CSS , Not for editing ***/


:root {
  --primary-color: #25282d;
  --color1: #fff;
  --color2: #f7f8f6;
  --color3: rgba(0, 0, 0);
  --color4: #ebede8;
  --color5: #917F6B;
  --dine-tab-color:#f7f8f6;
}

@font-face {
   font-family: Vanitasbold;
font-display:swap;
   src: local(VanitasBold), url('../../fonts/VanitasBold.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;


}

@font-face {
   font-family: "FreightSansProBook";
font-display:swap;
   src: url("../../../../../af/442215/000000000000000000010b5a/27/l") format("woff2"), url("../../../../../af/442215/000000000000000000010b5a/27/d") format("woff"), url("../../../../../af/442215/000000000000000000010b5a/27/a") format("opentype");
   font-display: auto;
   font-style: normal;
   font-weight: 400;

}

@font-face {
   font-family: "FreightSansProBook-Regular";
font-display:swap;
   src: url("../../../../../af/442215/000000000000000000010b5a/27/l") format("woff2"), url("../../../../../af/442215/000000000000000000010b5a/27/d") format("woff"), url("../../../../../af/442215/000000000000000000010b5a/27/a") format("opentype");
   font-display: auto;
   font-style: normal;
   font-weight: 300;

}



@font-face {
   font-family: "FreightSansProBold";
font-display:swap;
   src: url("../../../../../af/1709eb/000000000000000000010b60/27/l") format("woff2"), url("../../../../../af/1709eb/000000000000000000010b60/27/d") format("woff"), url("../../../../../af/1709eb/000000000000000000010b60/27/a") format("opentype");
   font-display: auto;
   font-style: normal;
   font-weight: 700;

}

@font-face {
   font-family: "FreightSansProMedium";
font-display:swap;
   src: url("../../../../../af/8dd886/000000000000000000010b5c/27/l") format("woff2"), url("../../../../../af/8dd886/000000000000000000010b5c/27/d") format("woff"), url("../../../../../af/8dd886/000000000000000000010b5c/27/a") format("opentype");
   font-display: auto;
   font-style: normal;
   font-weight: 500;

}


@font-face {
   font-family: "FreightSansProSemibold";
font-display:swap;
   src: url("../../../../../af/cef9f3/000000000000000000010b5e/27/l") format("woff2"), url("../../../../../af/cef9f3/000000000000000000010b5e/27/d") format("woff"), url("../../../../../af/cef9f3/000000000000000000010b5e/27/a") format("opentype");
   font-display: auto;
   font-style: normal;
   font-weight: 600;
font-display:fallback;
}
 @font-face {
      font-family: Optima;
      src: url('../../fonts/OPTIMA_B.TTF');
   }
@font-face {
      font-family: ClassicoBold;
      src: url('../../fonts/ClassicoURW-Bold.ttf');
   }
@font-face {
      font-family: ClassicoRegular;
      src: url('../../fonts/ClassicoURW-Regular.ttf');
   }
